{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'beanstalk/fonts/icomoon/style.css' %}">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'beanstalk/css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'beanstalk/css/style.css' %}">

    <title>Meanstalk</title>
</head>
<body>


<div class="content">

    <div class="container">
        <div class="row align-items-stretch no-gutters contact-wrap">
            <div class="col-md-12">
                <div class="form h-100">
                    <h3>Deploy your app!</h3>
                    <form class="mb-5" method="post" id="contactForm" name="contactForm">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 form-group mb-5">
                                <label for="" class="col-form-label">Application Name *</label>
                                <input type="text" class="form-control" name="name" id="name"
                                       placeholder="Up to 100 Unicode characters, not including forward slash (/).">
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-4 form-group mb-5">
                                <label for="" class="col-form-label">Platform *</label>
                                <select class="form-control" name="platform" id="platform">
                                    <option value=""></option>
                                    <option value="python">Python</option>
                                </select>
                            </div>
                            <div class="col-md-4 form-group mb-5">
                                <label for="" class="col-form-label">Platform branch *</label>
                                <select class="form-control" name="platform_branch" id="platform_branch">
                                    <option value=""></option>
                                    <option value="3.8">Python 3.8 running on 64bit Ubuntu 20.04</option>
                                </select>
                            </div>
                            <div class="col-md-4 form-group mb-5">
                                <label for="" class="col-form-label">Platform version *</label>
                                <select class="form-control" name="platform_version" id="platform_version">
                                    <option value=""></option>
                                    <option value="3.4.2">3.4.2 (Recommended)</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 form-group mb-5">
                                <label for="" class="col-form-label">Instance root volume size *</label>
                                <select class="form-control" name="size" id="size">
                                    <option value=""></option>
                                    <option value="s-1vcpu-1gb">1 GB</option>
                                </select>
                            </div>
                            <div class="col-md-4 form-group mb-5">
                                <label for="" class="col-form-label">Instance image *</label>
                                <select class="form-control" name="image" id="image">
                                    <option value=""></option>
                                    <option value="ubuntu-20-04-x64">Ubuntu 20.04</option>
                                </select>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12 form-group mb-5">
                                <label for="message" class="col-form-label">Application code *</label>
                                <input type="text" class="form-control" name="code" id="code"
                                       placeholder="GIT repo link">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <input type="submit" value="Create application"
                                       class="btn btn-primary rounded-0 py-2 px-4">
                                <span class="submitting"></span>
                            </div>
                        </div>
                    </form>

                    <div id="form-message-warning mt-4"></div>
                    <div id="form-message-success">
                        Your app has been deployed!
                    </div>

                </div>
            </div>
            {#        <div class="col-md-4">#}
            {#          <div class="contact-info h-100">#}
            {#            <h3>Contact Information</h3>#}
            {#            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, magnam!</p>#}
            {#            <ul class="list-unstyled">#}
            {#              <li class="d-flex">#}
            {#                <span class="wrap-icon icon-room mr-3"></span>#}
            {#                <span class="text">9757 Aspen Lane South Richmond Hill, NY 11419</span>#}
            {#              </li>#}
            {#              <li class="d-flex">#}
            {#                <span class="wrap-icon icon-phone mr-3"></span>#}
            {#                <span class="text">+1 (291) 939 9321</span>#}
            {#              </li>#}
            {#              <li class="d-flex">#}
            {#                <span class="wrap-icon icon-envelope mr-3"></span>#}
            {#                <span class="text">info@mywebsite.com</span>#}
            {#              </li>#}
            {#            </ul>#}
            {#          </div>#}
            {#        </div>#}
        </div>
    </div>

</div>


<script src="{% static 'beanstalk/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'beanstalk/js/popper.min.js' %}"></script>
<script src="{% static 'beanstalk/js/bootstrap.min.js' %}"></script>
<script src="{% static 'beanstalk/js/jquery.validate.min.js' %}"></script>
<script>
    $(function () {

        'use strict';

        // Form

        var createAppForm = function () {

            if ($('#contactForm').length > 0) {
                $("#contactForm").validate({
                    rules: {
                        name: "required",
                        platform: {
                            required: true,
                        },
                        platform_branch: {
                            required: true,
                        },
                        platform_version: {
                            required: true,
                        },
                        size: {
                            required: true,
                        },
                        image: {
                            required: true,
                        },
                        code: {
                            required: true,
                            minlength: 5
                        }
                    },
                    messages: {
                        name: "Please enter the application name",
                        platform: "Please select a platform",
                        platform_branch: "Please select platform branch",
                        platform_version: "Please select platform version",
                        size: "Please select instance root volume size",
                        image: "Please select instance image",
                        code: "Please enter the code repo link"
                    },
                    /* submit via ajax */
                    submitHandler: function (form) {
                        var $submit = $('.submitting'),
                            waitText = 'Creating...';

                        $.ajax({
                            type: "POST",
                            url: "{% url 'create_app' %}",
                            data: $(form).serialize(),

                            beforeSend: function () {
                                $submit.css('display', 'block').text(waitText);
                            },
                            success: function (msg) {
                                console.log(msg)
                                if (msg.success) {
                                    $('#form-message-warning').hide();
                                    setTimeout(function () {
                                        $('#contactForm').fadeOut();
                                    }, 1000);
                                    setTimeout(function () {
                                        $('#form-message-success').text(`Your app has been deployed to <a href="${msg.data}">${msg.data}</a>`)
                                        $('#form-message-success').fadeIn();
                                    }, 1400);

                                } else {
                                    $('#form-message-warning').html(msg);
                                    $('#form-message-warning').fadeIn();
                                    $submit.css('display', 'none');
                                }
                            },
                            error: function () {
                                $('#form-message-warning').html("Something went wrong. Please try again.");
                                $('#form-message-warning').fadeIn();
                                $submit.css('display', 'none');
                            }
                        });
                    }

                });
            }
        };
        createAppForm();

    });
</script>

</body>
</html>